@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url(img/bg.jpg);
  background-attachment: fixed;
}

.container {
  width: 320px;
}

.nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.navimg {
  margin: 3px 8px;
  height: 100px;
}

.right ul li a{
  padding: 3px 8px;
  border-radius: 10px;
}

.header {
  margin-bottom: 5px;
}

.content {
  margin: auto;
  margin-top: 10px;
  height: 100%;
}

.text {
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  background-size: cover;
  transform: translateY(25%);
  text-transform: uppercase;
  width: 100%;
  height: 800px;
}

.text .title {
  font-size: 50px;
  color: #fff;
  display: flex;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.text .slogan {
  font-size: 25px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
}

.sub {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.title1 {
  color: #ffe449;
  margin-right: 10px;
}

.card {
  border-radius: 20px;
  background-color: rgba(170,170,170, 0.6);
  padding: 10px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  margin: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ease;
  cursor: pointer;
}

.card:hover{
  background-color: #ffe449;
  color: black;
}

.card:hover h4{
  color: black;
}

.card h4 {
  text-transform:uppercase;
  font-size: 35px;
  color: #fff;
  margin: 15px 0;
}

.card img {
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.desc {
  margin-right: 24px;
  font-weight: 300;
}

ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  transition: .25s;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card>img {
  width: 250px;
  height: 300px;
}
